*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --logo-font: "Gugi", sans-serif;
  --main-font: "Raleway", sans-serif;

  --accent: #FD151B;
  --main: #000;
}

/********** STANDARD STYLING FOR ALL FORMS *********/
form {
    display: flex;
    flex-direction: column;
    /* padding: 0 1rem 0 1rem; */
    min-height: 400px;
    justify-content: center;
    margin: 1rem;
}

#form {
    background-color: #cccccc;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 1rem;
    font-family: var(--main-font);
    font-size: 20px;
}

button:hover {
    background-color: #000;
    color: #fff;
}

label {
    margin-top: 1rem;
}

input {
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s, background-color 0.2s;
}

input:valid {
  border-color: rgb(60, 60, 248);
  background-color: rgb(168, 188, 243);
}

input:invalid {
  border-color: red;
  background-color: #ffe6e6;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    padding: 1rem;
}


/****** REGISTER ACCOUNT **********/

p#regaccount {
    text-align: center;
}

#noaccount a:hover {
    color: var(--accent);
}

div#passwordBtn {
    background-color: #cccccc;
    max-width: 175px;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    border: solid 2px #000;
}

div#passwordBtn:hover {
    background-color: #000;
    color: #fff;
}

/******* ADD NEW CLASSIFICATION ***********/

#classificationForm label {
    margin-bottom: 1rem;
}

#classificationForm button {
    margin-top: 4rem;
}


/****** ADD NEW VEHICLE ******/
select#classificationList {
    padding: 1rem;
}

