/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --logo-font: "Gugi", sans-serif;
  --main-font: "Raleway", sans-serif;

  --accent: #FD151B;
  --main: #000;
}

div#wrapper {
  background-color: #fff;
  margin: 0;
  padding: 1rem;
  max-width: 100%;
}

/***************HEADER****************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.25rem;
}

.siteName a {
  color: #000;
}

#tools a {
  color: #000;
}

a {
  text-decoration: none;
  font-family: var(--logo-font);
}

span.siteName {
  font-size: 25px;
}

div#tools {
  text-transform: uppercase;
  font-size: 12px;
}

/***************NAVIGATION*****************/
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-family: var(--logo-font);
  background-color: #000;
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  margin-top: 2rem;
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: var(--accent);
}





/*****************MAIN BODY*****************/
main {
  font-family: var(--main-font);
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

.hero {
  position: relative;
}

.hero picture,
.hero img {
  width: 90%;
  height: auto;
  display: block;
  margin-left: 2rem;
}

.hero .items {
  position: absolute;
  bottom: 10px;
  left: 20%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  max-width: 90%;
  color: var(--accent);
  margin-left: 10px;
}

.items h2,
.items p,
.items button {
  margin-top: 0;
  margin-bottom: 0;
}

.items h2 {
  font-size: 18px;
}

.items p {
  font-size: 15px;
}

button {
  background-color: var(--accent);
  border-radius: 5px;
  border: solid 1px #000;
  padding: 10px;
  font-weight: bold;
}

/****************REVIEWS******************/
.reviews {
  margin-top: 2rem;
}

.reviews ul li {
  margin-bottom: 0.5rem;
}

section.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.reviews ul {
  padding-left: 1.2rem;
}

/***************UPGRADES******************/
.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.upgrades h2 {
  grid-column: 1 / 3;
  margin-bottom: 1rem;
  text-align: left;
}

.upgrade-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.image-container {
  width: 100%;
  background-color: var(--accent);
}

/***************FOOTER*******************/
footer {
  font-family: var(--main-font);
}

/**************** PAGE VIEW GRID ***************/
ul#inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    list-style: none;
}

#inv-display li {
  border: solid 1px #000;
  border-radius: 15px;
  padding: 1rem;
}

#inv-display img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

hr {
  border: 0;
}

#inv-display a {
  color: #000;
}

#inv-display a:hover {
  color: var(--accent);
}





/****************LARGER SCREENS******************/

@media (min-width: 600px) {
  body {
    background-image: url("/images/site/small_check.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--main-font);
    margin: 0;
  }

  div#wrapper {
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 5px;
    border: 10px solid;
    border-color: var(--accent);
  }

  .items h2 {
    font-size: 25px;
  }

  .items p {
    font-size: 18px;
  }

  .items button {
    margin-top: 1rem;
  }

  .hero .items {
    bottom: 80px;
    transform: translateX(-70%);
  }

  .body-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    align-items: start;
  }

  section.upgrades {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  section.reviews {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
  }
}