<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message Block -->
<!-- Best practice to include message block just in case we need it later. For now it is commented out-->
<%# messages() %>

<!-- The Inventory Details for each Vehicle Display -->
<!-- Displays the single page (containing HTML) and logic we did previously in M-V-C -->
<%- details %>