<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!--- FLASH MESSAGE -->
<%- messages() %>

<ul id="management">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<h2 id="manage-inv">Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>

<h2>Delete Classification</h2>
<form method="get" action="/inv/delete-classification" id="deleteClass">
  <label for="classification_id">Select a classification to delete:</label>

  <%- classificationSelect %>

  <button type="submit">Delete Selected Classification</button>
</form>

